.AddArticle {
  height: 85vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AddArticle form {
  padding: 30px 10px;
  gap: 1rem;
  box-sizing: border-box;
  background-color: var(--comment-single);
  border-radius: 8px;
  width: 70vw;
  height: 70vh;
  max-width: 500px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.2);
}

.AddArticle label {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 0.2rem;
}

.articleInputArea {
  height: 100%;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

.AddArticle textarea,
input,
select {
  border-radius: 3px;
  border: none;
}

.AddArticle button {
  width: 80px;
  padding: 10px;
  padding-bottom: 20px;
}

.AddArticle input,
select {
  height: 20px;
}

.addArticleButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.addArticleButton button {
  width: 70px;
}
