.listOfComments {
  list-style: none;
  margin-top: 30px;
}

.comment-author {
  font-weight: 500;
}

.single-comment {
  padding: 5vw;
  box-sizing: border-box;
  margin-bottom: 25px;
  text-align: justify;
  background-color: var(--comment-single);
}

.comment-section {
  margin-top: 5px;
  border-radius: 3px;
  background-color: var(--comment-section);
}

.comment-votes {
  margin-top: 10px;
  margin-left: 10px;
}

.commentsPerPage,
.sortBy {
  padding: 15px;
}

.pageControls {
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.totalComments {
  padding-top: 15px;
  padding-left: 20px;
  text-align: left;
  margin-left: 8%;
}

.listOfComments .dateAndTime {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}

.addComment-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
}

.addComment-container textarea {
  width: 80%;
  height: 20vh;
  max-height: 250px !important;
  border: none;
  border-radius: 3px;
  padding: 5px 6px;
}

.commentControls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.commentControls label {
  margin-right: 10px;
}
