.listOfComments {
  list-style: none;
  margin-top: 30px;
}

.comment-author {
  font-weight: 500;
}

.single-comment {
  padding: 5vw;
  box-sizing: border-box;
  margin-bottom: 25px;
  text-align: justify;
  background-color: var(--comment-single);
}

.comment-section {
  margin-top: 5px;
  border-radius: 3px;
  background-color: var(--comment-section);
}

.comment-votes {
  margin-top: 10px;
  margin-left: 10px;
}

.commentsPerPage {
  padding-top: 10px;
  padding-left: 20px;
}

.commentsPerPage span {
  margin-right: 15px;
}

.pageControls {
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.totalComments {
  padding-top: 15px;
  padding-left: 20px;
}

.listOfComments .dateAndTime {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}
