.profile {
  display: flex;
  height: 85vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.profile figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.profile figure img {
  width: 50vw;
  max-width: 400px;
}
