.singleArticle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.singleArticleContent img {
  width: 100%;
}

.aboveSingleArticle {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  width: 100%;
  justify-content: space-around;
}

.singleArticleContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.singleArticle h1 {
  font-size: 1.2rem;
}

.singleArticle h2 {
  font-size: 1rem;
}

.singleArticleInfo {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.ArticleBody {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  line-height: 2rem;
}
